@use './../../utilities/_variables.scss' as v;

.not-found{
    background-color: v.$grey;
    padding: 4em;
    text-align: center;
    width: 50%;
    margin: 10% auto 0 auto;
    border-radius: 15px;
}